[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cocotb = "*"
cocotb-test = {path = "./external/cocotb-test"}
libnum = "*"
bitstring = "*"

[dev-packages]

[requires]
python_version = "3.9"
